.menu-container {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, rgb(0, 174, 255), white, rgb(0, 119, 255), white);
  border-radius: 15px;
  padding: 2px;
  position: absolute;
  transform: scale(0);
  transition: all .4s;
  background-size: 300% 300%;
  z-index: 3;
  animation: gradientFloat 3s ease alternate infinite;
  box-shadow: greenyellow;
}

@keyframes gradientFloat {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.menu {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  min-height: 568px;
  border-radius: 15px;
}

.menu--open {
  transform: scale(1);
  top: 50%;
  left: 50%;
}

.menu-button {
  box-shadow: 0px 7px 10px 0px rgb(17,17,17),
  inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
  inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
  height: 44px;
  border: none;
  border-radius: 22px;
  font-size: 18px;
  background-color: rgb(83,87,93);
  text-transform: capitalize;
}

.button__close {
  width: 100px;
  color: rgb(233, 57, 57);
}
.button__item {

}

ul {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}
.menu-item__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item__label::after, .menu-item__label::before {
  display: inline-block;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  transition: all .3s;
}

.menu-item__label::after {
  content: '✖';
  color: rgb(37,37,37);
  background: #6a90af;
  position: relative;
  text-align: center;
  font-size: 20px;
  border: 2px solid rgb(37,37,37);
  text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
  box-shadow: 0px 7px 10px 0px rgb(17,17,17),
              inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
              inset 0px -12px 35px 0px rgba(0, 0, 0, .5); 
}

.checked::after {
  content: '✓';
  color: #68bbff;
  border: 2px solid #68bbff;
  box-shadow: 0 5px 10px 0px #b1dcff,
						  0 15px 20px 0px lighten(#b1dcff, 60%);
  text-shadow: 0px 1px 1px rgba(134, 215, 252, 0.425);
}

.menu-item__label:hover::after {
  box-shadow:0 0 25px #00ccff;
}

.menu-item__button {
  color: #68bbff;
  background-color: rgb(83,87,93);
  margin: 10px 10px 10px 0;
  font-size: 18px;
  width: 100%;
  height: 44px;
  border: 0;
  border-radius: 20px;
  text-align: center;
  /* text-shadow: 0px 1px 1px rgba(250,250,250,0.1); */
  box-shadow: 0px 7px 10px 0px rgb(17,17,17),
              inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
              inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
  text-transform: capitalize;
  transition: all .3s;
}

.menu-item__button:active {
  box-shadow: 0px 0px 0px 0px rgb(34,34,34),
              0px 3px 7px 0px rgb(17,17,17),
              inset 0px 2px 2px 0px rgba(250, 250, 250, .2),
              inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
  background-color: rgb(83,87,93);
}
.menu-item__button:hover {
  filter: drop-shadow(0 0 7px #00ccff);
}

.menu-item__slider {
  -webkit-appearance: none !important;
  text-align: center;
  text-transform: capitalize;
  height: 60px;
  width: 100%;
  margin-right: 18px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.slider-input {
  /* -webkit-appearance: none !important; */
  /* cba to override range input */
  order: 3;
  width: 100%;
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #6a90af;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0px 7px 10px 0px rgb(17,17,17),
              inset 0px 1px 1px 0px rgba(250, 250, 250, .2),
              inset 0px -12px 35px 0px rgba(0, 0, 0, .5); 
}

.slider-output {
  color: white;
  height: 20px;
  width: 30px;
  text-align: end;
  flex: 1;
  padding-top: 2px;
}