.menu {
  position: absolute;
  background-color: black;
  color: white;
}

.menu--hidden {
  display: none;
}

.slider {
  width: 90%;
}

#object-name {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  background-color: rgba(0, 0, 0, .5);
  font-size: 20px;
}