.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.atlas {
  background:#000033;
  margin: auto;
}
.stars {
      fill: #fff;
      stroke: #000;
}
body {
  background-color: #000033;
  text-align: center;
}
#name-container {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 15%;
  display: block;
  color: #098bdc;
  font-family: "Righteous";
  font-size: 26px;
}
#description-container {
  color: #098bdc;
}
