.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.atlas {
  background:#000033;
  margin: auto;
}
.stars {
      fill: #fff;
      stroke: #000;
}
body {
  background-color: #000033;
  text-align: center;
}
#name-container {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 15%;
  display: block;
  color: #098bdc;
  font-family: "Righteous";
  font-size: 26px;
  user-select: none;
}
#description-container {
  color: #098bdc;
}
button{
  position: absolute;
  top:2%;
  left:2%;
  background-color: #098bdc;
  color: white;
  border: none;
  font-size: 36px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 27px;
  transition: 0.3s;
  visibility: hidden;
  user-select: none;
}
button:hover{
  background-color: #00cc66;
}
#scroll-container{
	height: 5%;
	width: 100%;
	margin: auto;
	display: block;
	background-color: white;
}
#scroll{
  transform: rotate(-90deg);
  position: fixed;
  top: 90%;
  left: auto;
}
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
#object{
  color: white;
  position: absolute;
  bottom: 6%;
  user-select: none;
}
#coordinates{
  position: absolute;
  bottom: 3%;
  color:green;
  user-select: none;
}
